.cell {
   padding-bottom: 2%;
}

.table>thead>tr>th {
  background-color: #517fb9; color: #fff;
}

table.dataTable thead th, table.dataTable thead td {
  background-color: #517fb9; color: #fff;
}

table.dataTable thead tr>.dtfc-fixed-left, table.dataTable thead tr>.dtfc-fixed-right {
  background-color: #517fb9; color: #fff;
}

html *{
  font-family: 'Montserrat', sans-serif
}

.figure-img {
  width: 100%;
}

@media (min-width: 769px){
  .gslide-image img {
      max-height: 97vh;
      max-width: 100%;
      width: 100%;
      height: 97vh;
  }
}

#DataTables_Table_4 tbody tr:first-child td:first-child{
  background: #517fb9;
  color: white;
  font-weight: bold;
}

#DataTables_Table_9{
  font-size: 14px;
}

.visNetwork > select.dropdown{
  width:auto !important;
}